<form class="{{cssClass}}" autocomplete="off">
    <div class="character">
        <div class="header-section">
            <div class="character-avatar">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
            <div class="character-name">
                <label>{{localize "SK.LABEL.NAME"}}:</label>
                <input class="grid-input" name="name" type="text" value="{{actor.name}}" />
            </div>
            <div class="character-race">
                <label>{{localize "SK.LABEL.RACE"}}:</label>
                <select class="" name="data.bio.race.value">
                    {{#select data.data.bio.race.value}}
                        <optgroup label="Core">
                            {{#each data.races as |race raceIdentifier|}}
                            <option value="{{raceIdentifier}}">{{race.subrace}}</option>
                            {{/each}}
                        </optgroup>
                    {{/select}}
                </select>
            </div>
            <div class="character-mood">
                <label>{{localize "SK.LABEL.MOOD"}}:</label>
                <input class="shortest-num" name="data.stats.mood.value" type="number" min="0" value="{{data.data.stats.mood.value}}" data-dtype="Number" /> / 
                <input class="shortest-num" name="data.stats.mood.max" type="number" min="0" value="{{data.data.stats.mood.max}}" data-dtype="Number" />
            </div>
            <div class="character-body">
                <label>{{localize "SK.LABEL.BODY"}}:</label>
                <input class="shortest-num" name="data.stats.body.value" type="number" min="0" value="{{data.data.stats.body.value}}" data-dtype="Number" /> / 
                <input class="shortest-num" name="data.stats.body.max" type="number" min="0" value="{{data.data.stats.body.max}}" data-dtype="Number" />
            </div>
            <div class="character-armor">
                <label>{{localize "SK.LABEL.ARMOR"}}:</label>
                <input class="shortest-num" name="data.armor.value" type="number" min="0" value="{{data.data.armor.value}}" data-dtype="Number" /> / 
                <input class="shortest-num" name="data.armor.max" type="number" min="0" value="{{data.data.armor.max}}" data-dtype="Number" />
            </div>
            <div class="character-wealth-level">
                <label>{{localize "SK.LABEL.WEALTH_LEVEL"}}:</label>
                <input class="shortest-num" name="data.wealth.level.value" type="number" min="0" value="{{data.data.wealth.level.value}}" data-dtype="Number" />
            </div>
            <div class="character-gold">
                <label>{{localize "SK.LABEL.GOLD"}}:</label>
                <input class="short-num" name="data.wealth.gold.value" type="number" min="0" value="{{data.data.wealth.gold.value}}" data-dtype="Number" />
            </div>
            <div class="character-class character-class-0">
                <label>{{localize "SK.LABEL.CLASS"}}:</label>
                <select class="" name="data.bio.classes.0.class">
                    <option value="">Class</option>
                    {{#select data.data.bio.classes.0.class}}
                        <optgroup label="Core">
                            {{#each data.classes as |class classIdentifier|}}
                            <option value="{{classIdentifier}}">{{class.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/select}}
                    <input class="shortest-num" name="data.bio.classes.0.level" type="number" value="{{data.data.bio.classes.0.level}}" data-dtype="Number" />
                </select>
            </div>
            <div class="character-class character-class-1">
                <select class="" name="data.bio.classes.1.class">
                    <option value="">Multiclass</option>
                    {{#select data.data.bio.classes.1.class}}
                        <optgroup label="Core">
                            {{#each data.classes as |class classIdentifier|}}
                            <option value="{{classIdentifier}}">{{class.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/select}}
                    <input class="shortest-num" name="data.bio.classes.1.level" type="number" value="{{data.data.bio.classes.1.level}}" data-dtype="Number" />
                </select>
            </div>
            <div class="character-class character-class-2">
                <select class="" name="data.bio.classes.2.class">
                    <option value="">Multiclass</option>
                    {{#select data.data.bio.classes.2.class}}
                        <optgroup label="Core">
                            {{#each data.classes as |class classIdentifier|}}
                            <option value="{{classIdentifier}}">{{class.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/select}}
                    <input class="shortest-num" name="data.bio.classes.2.level" type="number" value="{{data.data.bio.classes.2.level}}" data-dtype="Number" />
                </select>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <h1 data-tab="main">{{localize "SK.TAB.MAIN"}}</h1>
            <h1 data-tab="combat">{{localize "SK.TAB.COMBAT"}}</h1>
            <h1 data-tab="inventory">{{localize "SK.TAB.INVENTORY"}}</h1>
            <h1 data-tab="magic">{{localize "SK.TAB.MAGIC"}}</h1>
            <h1 data-tab="backstory">{{localize "SK.TAB.BACKSTORY"}}</h1>
            <h1 data-tab="note">{{localize "SK.TAB.NOTE"}}</h1>
        </div>
        <div class="sheet-body">
            <div class="tab tab-main" data-group="primary" data-tab="main">
    {{> systems/spellbound-kingdoms/templates/character/tab-main.hbs}}
            </div>
            <div class="tab tab-combat" data-group="primary" data-tab="combat">
    {{> systems/spellbound-kingdoms/templates/character/tab-combat.hbs}}
            </div>
            <div class="tab tab-inventory" data-group="primary" data-tab="inventory">
    {{> systems/spellbound-kingdoms/templates/character/tab-inventory.hbs}}
            </div>
            <div class="tab tab-magic" data-group="primary" data-tab="magic">
    {{> systems/spellbound-kingdoms/templates/character/tab-magic.hbs}}
            </div>
            <div class="tab tab-backstory" data-group="primary" data-tab="backstory">
{{editor content=data.data.bio.backstory.value target="data.bio.backstory.value" button=true owner=owner editable=true}}
            </div>
            <div class="tab tab-note" data-group="primary" data-tab="note">
{{editor content=data.data.bio.note.value target="data.bio.note.value" button=true owner=owner editable=true}}
            </div>
        </div>
    </div>
</form>
