
<div class="main-column">
    <div class="frame">
        <div class="frame-label">{{localize "SK.LABEL.STATS"}}</div>
        <div class="character-stats">
            {{#each data.stats as |stat key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/stat.hbs stat=stat statIdentifier=key}}
            {{/each}}
        </div>
    </div>
    <div class="frame">
        <div class="frame-label">
            {{localize "SK.LABEL.HISTORY"}}
            <button class="item-create" data-type="history" data-subtype="history">+</button>
        </div>
        <div class="character-histories">
            {{#each data.itemsByType.history as |history key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/narrative-item.hbs type="history" item=history faded=false key=key}}
            {{/each}}
        </div>
    </div>
    <div class="frame">
        <div class="frame-label">
            {{localize "SK.LABEL.SCARS"}}
            <button class="item-create" data-type="scar">+</button>
        </div>
        <div class="character-scars">
            {{#each data.itemsByType.scar as |scar key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/scar.hbs scar=scar key=key}}
            {{/each}}
        </div>
    </div>
</div>
<div class="main-column">
    <div class="frame frame-inspirations">
        <div class="frame-label">
            {{localize "SK.LABEL.INSPIRATIONS"}}
            <button class="item-create" data-type="inspiration">+</button>
        </div>
        <div class="character-inspirations">
            {{#each data.itemsByType.inspiration as |inspiration key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/narrative-item.hbs type="inspiration" item=inspiration faded=false key=key}}
            {{/each}}
        </div>
    </div>
    <div class="frame">
        <div class="frame-label">
            {{localize "SK.LABEL.REPUTATIONS"}}
            <button class="item-create" data-type="history" data-subtype="reputation">+</button>
        </div>
        <div class="character-reputations">
            {{#each data.itemsByType.reputation as |reputation key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/narrative-item.hbs type="reputation" item=reputation value=reputation faded=false key=key}}
            {{/each}}
        </div>
    </div>
</div>
<div class="main-column">
    <div class="frame">
        <div class="frame-label">{{localize "SK.LABEL.TALENTS"}}</div>
        <div class="character-talents">
            {{#each data.itemsByType.talent as |talent key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/talent.hbs talent=talent key=key}}
            {{/each}}
        </div>
    </div>
    <div class="frame frame-character-abilities">
        <div class="frame-label">{{localize "SK.LABEL.ABILITIES"}}</div>
        <div class="character-abilities">
            {{#each data.itemsByType.ability as |ability key|}}
                {{> systems/spellbound-kingdoms/templates/character/partial/ability.hbs ability=ability key=key}}
            {{/each}}
        </div>
    </div>
</div>