<div class="spell-list frame">
    <button class="character-spells-fill">{{localize "SK.BUTTON.FILL"}}</button>
{{#each data.spellsBySchool as |spells schoolIdentifier|}}
    <div class="frame-label">
        {{ lookup (lookup ../data.allFightingStyles schoolIdentifier) 'name'}}
    </div>
    {{#each spells as |spell key|}}
        <div class="item spell-item" data-entity-id="{{spell.id}}">
            <div class="item-controls-left">
                <a class="item-control item-delete" title="{{localize 'SK.BUTTON.DELETE'}}"><i class="fas fa-trash"></i></a>
            </div>

            <div class="item-line">
                {{#if spell.data.data.mastery}}<i class="fas fa-hat-wizard" title="{{localize "SK.TOOLTIP.MASTERY"}}"></i>{{/if}}
                {{#if spell.data.data.high}}<i class="fas fa-level-up-alt" title="{{localize "SK.LABEL.HIGH_SPELL"}}"></i>{{/if}}
                <span class="spell-item-title" title="{{spell.data.data.description}}">{{spell.name}}</span>
            </div>
                
            <div class="item-controls-right">
                <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-post" title="{{localize 'SK.BUTTON.POST_TO_CHAT'}}"><i class="fas fa-comment"></i></a>
            </div>
        </div>
    {{/each}}
{{/each}}
</div>