
<div class="columns">
    <div class="main-column">
        <div class="frame">
            <div class="frame-label">
                {{localize "SK.LABEL.ARMOR"}}
                <button class="item-create" data-type="gear" data-subtype="armor">+</button>
            </div>
            <div class="character-armor">
                {{#each data.itemsByType.armor as |armor key|}}
                    {{> systems/spellbound-kingdoms/templates/character/partial/gear.hbs gear=armor currentWealthLevel=../data.data.wealth.level.value key=key}}
                {{/each}}
            </div>
        </div>
        <div class="frame">
            <div class="frame-label">
                {{localize "SK.LABEL.WEAPONS"}}
                <button class="item-create" data-type="gear" data-subtype="weapon">+</button>
            </div>
            <div class="character-weapons">
                {{#each data.itemsByType.weapon as |weapon key|}}
                    {{> systems/spellbound-kingdoms/templates/character/partial/gear.hbs gear=weapon currentWealthLevel=../data.data.wealth.level.value key=key}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="main-column">
        <div class="frame">
            <div class="frame-label">
                {{localize "SK.TYPE.FASHION"}}
                <button class="item-create" data-type="gear" data-subtype="fashion">+</button>
            </div>
            <div class="character-armor">
                {{#each data.itemsByType.fashion as |fashion key|}}
                    {{> systems/spellbound-kingdoms/templates/character/partial/gear.hbs gear=fashion currentWealthLevel=../data.data.wealth.level.value key=key}}
                {{/each}}
            </div>
        </div>
        <div class="frame">
            <div class="frame-label">
                {{localize "SK.TYPE.ALCHEMY"}}
                <button class="item-create" data-type="gear" data-subtype="alchemy">+</button>
            </div>
            <div class="character-weapons">
                {{#each data.itemsByType.alchemy as |alchemy key|}}
                    {{> systems/spellbound-kingdoms/templates/character/partial/gear.hbs gear=alchemy currentWealthLevel=../data.data.wealth.level.value key=key}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="main-column">
        
        <div class="frame">
            <div class="frame-label">
                {{localize "SK.TYPE.VEHICLES"}}
                <button class="item-create" data-type="gear" data-subtype="vehicle">+</button>
            </div>
            <div class="character-armor">
                {{#each data.itemsByType.vehicle as |vehicle key|}}
                    {{> systems/spellbound-kingdoms/templates/character/partial/vehicle.hbs gear=vehicle currentWealthLevel=../data.data.wealth.level.value key=key}}
                {{/each}}
            </div>
        </div>
        <div class="frame">
            <div class="frame-label">
                {{localize "SK.TYPE.ENGINEERING"}}
                <button class="item-create" data-type="gear" data-subtype="engineering">+</button>
            </div>
            <div class="character-weapons">
                {{#each data.itemsByType.engineering as |engineering key|}}
                    {{> systems/spellbound-kingdoms/templates/character/partial/gear.hbs gear=engineering currentWealthLevel=../data.data.wealth.level.value key=key}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="frame frame-wealth">
        <div class="cooldown-controls">
            <div class="cooldown-controls-header" title="{{localize 'SK.TOOLTIP.COOLDOWN_CONTROLS'}}"><i class="fas fa-history"></i></div>
            <div><a class="item-control increase-cooldowns" title="{{localize 'SK.TOOLTIP.INCREASE_COOLDOWNS'}}"><i class="far fa-plus-square"></i></a></div>
            <div><a class="item-control decrease-cooldowns" title="{{localize 'SK.TOOLTIP.DECREASE_COOLDOWNS'}}"><i class="far fa-minus-square"></i></a></div>
        </div>
        <div class="frame-label frame-side-label">
            {{localize "SK.LABEL.PURCHASES"}}
        </div>
        <div class="wealth-levels">
            {{#each data.wealthSlots as |wlSlots key|}}
            {{#unless (eq key 0)}}
            <div class="wealth-level{{#if (gt key ../data.data.wealth.level.value)}} locked{{/if}}">
                <div class="frame-label">{{localize "SK.STAT.SHORT.WEALTH_LEVEL"}} {{key}}</div>
                <div class="wealth-slot-list">
                    <ol>
                    {{#each wlSlots as |slot key|}}
                        <li class="item" data-entity-id="{{slot.id}}" title="{{slot.name}}">
                        {{#if (eq slot.type 'wealth-slot-cooldown')}}
                            <a class="item-control item-delete" title="{{localize 'SK.BUTTON.DELETE'}}"><i class="fas fa-trash"></i></a>
                            &nbsp;&nbsp;
                            <i class="fas fa-history"></i>
                            {{slot.data.data.cooldown}}
                            &nbsp;&nbsp;
                            <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
                        {{else}}
                            {{slot.name}}
                        {{/if}}
                        </li>
                    {{/each}}
                    </ol>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>