<div class="grid-item grid-item-checkbox">
    <input class="item-picker-checkbox" type="checkbox" id="{{item.id}}"/>
</div>
<div class="grid-item item-picker-item">
    <label for="{{item.id}}"> {{localize item.name}}</label>
</div>
<div class="grid-item item-picker-item-description">
    <label for="{{item.id}}">{{{item.data.data.descriptionHtml}}}</label>
</div>