
<select class="die-select" name="{{name}}">
    {{#select selectValue}}
    <optgroup label="{{localize "SK.LABEL.DICE"}}">
        <option value="2">d2</option>
        <option value="4">d4</option>
        <option value="6">d6</option>
        <option value="8">d8</option>
        <option value="10">d10</option>
        <option value="12">d12</option>
        <option value="20">d20</option>
    </optgroup>
    <optgroup label="{{localize "SK.LABEL.STATS"}}">
        <option value="strength">{{localize "SK.STAT.STRENGTH"}}</option>
        <option value="quickness">{{localize "SK.STAT.QUICKNESS"}}</option>
        <option value="reason">{{localize "SK.STAT.REASON"}}</option>
        <option value="charisma">{{localize "SK.STAT.CHARISMA"}}</option>
        <option value="magic">{{localize "SK.STAT.MAGIC"}}</option>
        <option value="heart">{{localize "SK.STAT.HEART"}}</option>
    </optgroup>
    <optgroup label="{{localize "SK.LABEL.OTHER"}}">
        <option value="reputation">{{localize "SK.TYPE.REPUTATION"}}</option>
    </optgroup>
    {{/select}}
</select>