
<select name="{{name}}">
    {{#select selectValue}}
    <option value="defense">{{localize "SK.LABEL.DEFENSE"}}</option>
    <option value="strength">{{localize "SK.LABEL.STRENGTH"}}</option>
    <option value="quickness">{{localize "SK.LABEL.QUICKNESS"}}</option>
    <option value="reason">{{localize "SK.LABEL.REASON"}}</option>
    <option value="charisma">{{localize "SK.LABEL.CHARISMA"}}</option>
    <option value="magic">{{localize "SK.LABEL.MAGIC"}}</option>
    <option value="heart">{{localize "SK.LABEL.HEART"}}</option>
    {{/select}}
</select>