
<select class="vs-select" name="{{name}}">
    {{#select selectValue}}
    <option value="defense">{{localize "SK.LABEL.DEFENSE"}}</option>
    <option value="doom">{{localize "SK.LABEL.DOOM"}}</option>
    <option value="strength">{{localize "SK.STAT.STRENGTH"}}</option>
    <option value="quickness">{{localize "SK.STAT.QUICKNESS"}}</option>
    <option value="reason">{{localize "SK.STAT.REASON"}}</option>
    <option value="charisma">{{localize "SK.STAT.CHARISMA"}}</option>
    <option value="magic">{{localize "SK.STAT.MAGIC"}}</option>
    <option value="heart">{{localize "SK.STAT.HEART"}}</option>
    {{/select}}
</select>