<div class="item narrative-item-item" data-entity-id="{{item.id}}">
    <div class="item-type narrative-item-item-type">
        {{localize type}}
    </div>
    <div class="narrative-item-item-value" title="{{localize "SK.LABEL.VALUE"}}">
        {{item.data.value}}
    </div>
    <div class="narrative-item-item-name" title="{{item.name}}">
        {{item.name}}
    </div> 
    <div class="narrative-item-item-description">
        {{~plaintextToHTML item.data.description~}}
    </div>
</div>