<div class="dice-roll">
	<div class="dice-formula">
		{{#if flavor}}
			{{flavor}}
		{{else}}
			{{formula}}
		{{/if}}
	</div>
  <div class="dice-roll-improvement">
    {{#if roll.inspired}}
			<span>{{localize "INSPIRED"}}</span>
		{{/if}}
    {{#if roll.mooded}}
			<span>{{localize "EMOTIONAL"}}</span>
		{{/if}}
  </div>
	<div class="dice-result">
			{{{tooltip}}}
      <h4 class="dice-total">{{total}}</h4>
	</div>
</div>

<div class="dice-buttons">
  {{#if moodable}}
    <button class="sk-button mood" data-action="mood">
      {{localize "MOOD"}}
    </button>
  {{/if}}
  {{#if inspirable}}
    <button class="sk-button inspiration" data-action="inspiration">
      {{localize "INSPIRATION"}}
    </button>
  {{/if}}
</div>