<form class="{{cssClass}}" autocomplete="off">
    <div class="grid-history">
        <div class="avatar">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>
        <div class="history-name">
            <label class="form-gear-label">{{localize "SK.LABEL.NAME"}}:</label>
            <input name="name" type="text" value="{{data.name}}" />
        </div>
        <div class="history-value">
            <label class="form-gear-label">{{localize "SK.LABEL.VALUE"}}:</label>
            <input class="shortest-num" name="data.value" type="number" value="{{data.data.value}}" min="4" data-dtype="Number" />
        </div>
        <div class="history-type">
            <label class="form-gear-label">{{localize "SK.LABEL.TYPE"}}:</label>
            <select class="" name="data.type">
                {{#select data.data.type}}
                <option value="history">{{localize "SK.TYPE.HISTORY"}}</option>
                <option value="reputation">{{localize "SK.TYPE.REPUTATION"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="history-description">
            <label class="form-gear-label">{{localize "SK.LABEL.DESCRIPTION"}}:</label>
            <textarea class="gear-description" name="data.description">{{data.data.description}}</textarea>
        </div>
    </div>
</form>
