<form class="{{cssClass}}" autocomplete="off">
    <div class="grid-talent">
        <div class="avatar">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>

        <div class="talent-name">
            <label class="form-gear-label">{{localize "SK.LABEL.NAME"}}:</label>
            <input name="name" type="text" value="{{data.name}}" />
        </div>

        <div class="talent-level">
            <label class="form-gear-label">{{localize "SK.LABEL.LEVEL"}}:</label>
            <select class="" name="data.level">
                {{#select data.data.level}}
                <option value="1">{{localize "SK.LABEL.MINOR"}}</option>
                <option value="2">{{localize "SK.LABEL.MAJOR"}}</option>
                <option value="3">{{localize "SK.LABEL.GRAND"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="talent-type">
            <label class="form-gear-label">{{localize "SK.LABEL.TYPE"}}:</label>
            <select class="" name="data.type">
                {{#select data.data.type}}
                <option value="magic">{{localize "SK.TYPE.MAGIC"}}</option>
                <option value="martial">{{localize "SK.TYPE.MARTIAL"}}</option>
                <option value="shadow">{{localize "SK.TYPE.SHADOW"}}</option>
                <option value="social">{{localize "SK.TYPE.SOCIAL"}}</option>
                {{/select}}
            </select>
        </div>

        <div class="talent-short-description">
            <label class="form-gear-label">{{localize "SK.LABEL.SHORT_DESCRIPTION"}}:</label>
            <input name="data.short-description" type="text" value="{{data.data.short-description}}" />
        </div>
        <div class="talent-description">
            <label class="form-gear-label">{{localize "SK.LABEL.DESCRIPTION"}}:</label>
            <textarea class="gear-description" name="data.description">{{data.data.description}}</textarea>
        </div>
    </div>
</form>
