<div class="tab tab-{{fighting-style.data.data.identifier}}" data-group="fighting-style" data-tab="{{fighting-style.data.data.identifier}}">
    <div class="fighting-style-grid">
    {{#each fighting-style.data.data.maneuvers.style as |maneuver key|}}
        {{> systems/spellbound-kingdoms/templates/character/combat/partial/maneuver.hbs maneuver=maneuver fighting-style=../fighting-style absolute=true}}
    {{/each}}
    
    {{#each fighting-style.data.data.grid-arrows as |arrow key|}}
        <div class="fighting-style-arrow"
            style="
                left: {{arrow.params.left}}px; 
                top: {{arrow.params.top}}px;
                transform: rotate({{arrow.params.rotation}}deg) scaleX({{arrow.params.widthMultiplier}});"
        >
            &#10141;
        </div>
    {{/each}}
        <div class="item maneuver-toolbar{{#unless fighting-style.data.data.toolbar.visible}} hidden{{/unless}}"
            style="
                width: {{fighting-style.data.data.grid.xSize}}px;
                left: {{fighting-style.data.data.toolbar.x}}px; 
                top: {{fighting-style.data.data.toolbar.y}}px;"
            data-entity-id="{{fighting-style.data.data.toolbar.entity-id}}"
        >
            <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
        </div>
    </div>

    <div class="fighting-style-footer">
        <div class="fighting-style-requirements">
            {{#each fighting-style.data.data.requirements as |requirement key|}}
                {{#if @first}}{{localize "SK.LABEL.REQUIRES"}}{{/if}}
                {{#unless @first}}, {{/unless}}
                {{requirement}}{{#if @last}}.{{/if}}
            {{/each}}
        </div>
        <div class="fighting-style-info">
            {{#each fighting-style.data.data.info as |info key|}}
                <div>{{info}}</div>
            {{/each}}
        </div>
        <div class="fighting-style-toolbar">
            <div>
                <label>{{localize "SK.LABEL.PROFICIENCY"}}</label>
                <select class="fighting-style-proficiency" data-entity-id="{{fighting-style.id}}">
                    {{#select fighting-style.data.data.level}}
                    <option value="1">{{localize "SK.LABEL.NEOPHYTE"}}</option>
                    <option value="2">{{localize "SK.LABEL.APPRENTICE"}}</option>
                    <option value="3">{{localize "SK.LABEL.MASTER"}}</option>
                    {{/select}}
                </select>
            </div>
            <button class="maneuver-toolbar-lock-in{{#if (eq ../actorData.locked-in-maneuver.id fighting-style.data.data.toolbar.entity-id)}} locked-in{{/if}}" 
                title="{{localize "SK.TOOLTIP.LOCK_IN"}}"
                data-selected-maneuver="{{actorData.selected-maneuver.id}}"
                {{#unless actorData.selected-maneuver.id}}disabled="disabled"{{/unless}}
            >
                <i class="fas fa-check"></i>{{localize "SK.BUTTON.LOCK_IN"}}
            </button>
        </div>
        <div class="fighting-style-basic-actions">
            {{#each fighting-style.data.data.maneuvers.basic as |maneuver key|}}
            <div class="fighting-style-maneuver fighting-style-maneuver-{{key}}
                {{#if maneuver.selected}}selected{{/if}}
                {{#if maneuver.locked-in}}locked-in{{/if}}" 
                data-entity-name="{{maneuver.name}}" 
                data-fighting-style-id="{{../fighting-style.id}}"
            >
                <div class="maneuver-name">{{maneuver.name}}</div>
                <div class="maneuver-attack" title="{{localize "SK.LABEL.ATTACK"}}">
                    {{#each maneuver.attack as |attack key|}}
                        {{#if (gt key 0)}}/{{else}}<i class="fas fa-gavel"></i>{{/if}}
                        {{#if (isNumber attack.die)}}
                            d{{attack.die}}
                        {{else}}
                            d{{localize (sk_strconcat "SK.STAT.SHORT." attack.die)}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="maneuver-defense" title="{{localize "SK.LABEL.DEFENSE"}}">
                    {{#each maneuver.defense as |defense key|}}
                        {{#if (gt key 0)}}/{{else}}<i class="fas fa-shield-alt"></i>{{/if}}
                        {{#if (isNumber defense)}}
                            d{{defense}}
                        {{else}}
                            d{{localize (sk_strconcat "SK.STAT.SHORT." defense)}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>