<div class="tab tab-{{fighting-style.data.data.identifier}}" data-group="fighting-style" data-tab="{{fighting-style.data.data.identifier}}">
    <div class="fighting-style-grid">
    {{#each fighting-style.data.data.maneuvers.style as |maneuver key|}}
        <div class="fighting-style-maneuver
            {{#if maneuver.data.data.rebalancing}}rebalancing{{/if}}
            {{#if maneuver.data.data.mastery}}mastery{{/if}}
            {{#if maneuver.data.data.selected}}selected{{/if}}
            {{#if maneuver.data.data.locked}}faded{{/if}}" 
            style="
                width: {{../fighting-style.data.data.grid.xSize}}px;
                height: {{../fighting-style.data.data.grid.ySize}}px;
                left: calc({{../fighting-style.data.data.grid.xSize}}px*{{maneuver.data.data.grid-position.x}} - {{maneuver.data.data.grid-position.x}}px); 
                top: calc({{../fighting-style.data.data.grid.ySize}}px*{{maneuver.data.data.grid-position.y}} - {{maneuver.data.data.grid-position.y}}px);"
            data-entity-id="{{maneuver.id}}"
        >
        
            <div class="maneuver-magic-attack" title="{{localize "SK.LABEL.MAGIC_ATTACK"}}">
                {{#each maneuver.data.data.magic-attack as |attack key|}}
                    {{#if @first}}<i class="fas fa-magic"></i>{{else}}/{{/if}}
                    {{#if (isNumber attack.die)}}
                        d{{attack.die}}
                    {{else}}
                        d{{localize (sk_strconcat "SK.STAT.SHORT." attack.die)}}
                    {{/if}}
                    {{#unless (eq attack.vs 'defense')}}{{localize "SK.LABEL.VS"}} {{localize (sk_strconcat "SK.STAT.SHORT." attack.vs)}}{{/unless}}
                {{/each}}
            </div>
            <div class="maneuver-magic-defense" title="{{localize "SK.LABEL.MAGIC_DEFENSE"}}">
                {{#each maneuver.data.data.magic-defense as |defense key|}}
                    {{#if @first}}<i class="fas fa-shield-virus"></i>{{else}}/{{/if}}
                    {{#if (isNumber defense)}}
                        d{{defense}}
                    {{else}}
                        d{{localize (sk_strconcat "SK.STAT.SHORT." defense)}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="maneuver-attack" title="{{localize "SK.LABEL.ATTACK"}}">
                {{#each maneuver.data.data.attack as |attack key|}}
                    {{#if @first}}<i class="fas fa-gavel"></i>{{else}}/{{/if}}
                    {{#if (isNumber attack.die)}}
                        d{{attack.die}}
                    {{else}}
                        d{{localize (sk_strconcat "SK.STAT.SHORT." attack.die)}}
                    {{/if}}
                    {{#unless (eq attack.vs 'defense')}}{{localize "SK.LABEL.VS"}} {{localize (sk_strconcat "SK.STAT.SHORT." attack.vs)}}{{/unless}}
                {{/each}}
            </div>
            <div class="maneuver-defense" title="{{localize "SK.LABEL.DEFENSE"}}">
                {{#each maneuver.data.data.defense as |defense key|}}
                    {{#if @first}}<i class="fas fa-shield-alt"></i>{{else}}/{{/if}}
                    {{#if (isNumber defense)}}
                        d{{defense}}
                    {{else}}
                        d{{localize (sk_strconcat "SK.STAT.SHORT." defense)}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="maneuver-name">
                {{maneuver.name}} {{#if maneuver.data.data.must-rebalance}}(r){{/if}}
            </div>
            <div class="maneuver-description">
                {{maneuver.data.data.short-description}}
            </div>
        </div>
    {{/each}}
    
    {{#each fighting-style.data.data.grid-arrows as |arrow key|}}
        <div class="fighting-style-arrow"
            style="
                left: {{arrow.params.left}}px; 
                top: {{arrow.params.top}}px;
                transform: rotate({{arrow.params.rotation}}deg) scaleX({{arrow.params.widthMultiplier}});"
        >
            &#10141;
        </div>
    {{/each}}
        <div class="item maneuver-toolbar{{#unless fighting-style.data.data.toolbar.visible}} hidden{{/unless}}"
            style="
                width: {{fighting-style.data.data.grid.xSize}}px;
                left: {{fighting-style.data.data.toolbar.x}}px; 
                top: {{fighting-style.data.data.toolbar.y}}px;"
            data-entity-id="{{fighting-style.data.data.toolbar.entity-id}}"
        >
            <button class="maneuver-toolbar-lock-in{{#if actorData.selected-maneuver.locked-in}} locked{{/if}}"><i class="fas fa-check"></i></button>
            <button class="maneuver-toolbar-target"><i class="fas fa-bullseye"></i></button>
            <a class="item-control item-edit" title="{{localize 'Edit'}}"><i class="fas fa-edit"></i></a>
        </div>
    </div>

    <div class="fighting-style-footer">
        <div class="fighting-style-requirements">
            {{localize "SK.LABEL.REQUIRES"}}
            {{#each fighting-style.data.data.requirements as |requirement key|}}
            {{#unless @first}}, {{/unless}}
                {{requirement}}{{#if @last}}.{{/if}}
            {{/each}}
        </div>
        <div class="fighting-style-info">
            {{#each fighting-style.data.data.info as |info key|}}
                <div>{{info}}</div>
            {{/each}}
        </div>
        <div class="fighting-style-toolbar">
            <div>
                <label>{{localize "SK.LABEL.PROFICIENCY"}}</label>
                <select class="fighting-style-proficiency" data-entity-id="{{fighting-style.id}}">
                    {{#select fighting-style.data.data.level}}
                    <option value="1">{{localize "SK.LABEL.NEOPHYTE"}}</option>
                    <option value="2">{{localize "SK.LABEL.APPRENTICE"}}</option>
                    <option value="3">{{localize "SK.LABEL.MASTER"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="fighting-style-basic-actions">
            {{#each fighting-style.data.data.maneuvers.basic as |maneuver key|}}
            <div class="fighting-style-maneuver fighting-style-maneuver-{{key}} {{#if maneuver.selected}}selected{{/if}}" data-entity-name="{{maneuver.name}}" data-fighting-style-id="{{../fighting-style.id}}">
                <div class="maneuver-name">{{maneuver.name}}</div>
                <div class="maneuver-attack" title="{{localize "SK.LABEL.ATTACK"}}">
                    {{#each maneuver.attack as |attack key|}}
                        {{#if (gt key 0)}}/{{else}}<i class="fas fa-gavel"></i>{{/if}}
                        {{#if (isNumber attack.die)}}
                            d{{attack.die}}
                        {{else}}
                            d{{localize (sk_strconcat "SK.STAT.SHORT." attack.die)}}
                        {{/if}}
                    {{/each}}
                </div>
                <div class="maneuver-defense" title="{{localize "SK.LABEL.DEFENSE"}}">
                    {{#each maneuver.defense as |defense key|}}
                        {{#if (gt key 0)}}/{{else}}<i class="fas fa-shield-alt"></i>{{/if}}
                        {{#if (isNumber defense)}}
                            d{{defense}}
                        {{else}}
                            d{{localize (sk_strconcat "SK.STAT.SHORT." defense)}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>